# Importing Libraries

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter(action='ignore', category=FutureWarning)

# Reading Data

In [12]:
df = pd.read_csv("Employee Attrition.csv")

# Analyze the Data

In [13]:
df.head()

,Emp ID,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,dept,salary
0,1.0,0.38,0.53,2.0,157.0,3.0,0.0,0.0,sales,low
1,2.0,0.80,0.86,5.0,262.0,6.0,0.0,0.0,sales,medium
2,3.0,0.11,0.88,7.0,272.0,4.0,0.0,0.0,sales,medium
3,4.0,0.72,0.87,5.0,223.0,5.0,0.0,0.0,sales,low
4,5.0,0.37,0.52,2.0,159.0,3.0,0.0,0.0,sales,low

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15787 entries, 0 to 15786
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Emp ID                 14999 non-null  float64
 1   satisfaction_level     14999 non-null  float64
 2   last_evaluation        14999 non-null  float64
 3   number_project         14999 non-null  float64
 4   average_montly_hours   14999 non-null  float64
 5   time_spend_company     14999 non-null  float64
 6   Work_accident          14999 non-null  float64
 7   promotion_last_5years  14999 non-null  float64
 8   dept                   14999 non-null  object
 9   salary                 14999 non-null  object
dtypes: float64(8), object(2)
memory usage: 1.2+ MB

In [15]:
# 5 Last datas
df.tail()

,Emp ID,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,dept,salary
15782,14995.0,0.40,0.57,2.0,151.0,3.0,0.0,0.0,support,low
15783,14996.0,0.37,0.48,2.0,160.0,3.0,0.0,0.0,support,low
15784,14997.0,0.37,0.53,2.0,143.0,3.0,0.0,0.0,support,low
15785,14998.0,0.11,0.96,6.0,280.0,4.0,0.0,0.0,support,low
15786,14999.0,0.37,0.52,2.0,158.0,3.0,0.0,0.0,support,low

In [17]:
# Check for duplication
df.nunique()

Emp ID                   14999
satisfaction_level          92
last_evaluation             65
number_project               6
average_montly_hours       215
time_spend_company           8
Work_accident                2
promotion_last_5years        2
dept                        10
salary                       3
dtype: int64

In [18]:
#Identify null value
df.isnull().sum()

Emp ID                   788
satisfaction_level       788
last_evaluation          788
number_project           788
average_montly_hours     788
time_spend_company       788
Work_accident            788
promotion_last_5years    788
dept                     788
salary                   788
dtype: int64

In [21]:
#Identify percentage of null Value
(df.isnull().sum()/(len(df)))*100

Emp ID                   4.991449
satisfaction_level       4.991449
last_evaluation          4.991449
number_project           4.991449
average_montly_hours     4.991449
time_spend_company       4.991449
Work_accident            4.991449
promotion_last_5years    4.991449
dept                     4.991449
salary                   4.991449
dtype: float64

# Data Reduction

In [22]:
# Remove EMP.ID. column from data (the feature is doesn't affect any prediction)
df = df.drop(['Emp ID'], axis = 1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15787 entries, 0 to 15786
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   number_project         14999 non-null  float64
 3   average_montly_hours   14999 non-null  float64
 4   time_spend_company     14999 non-null  float64
 5   Work_accident          14999 non-null  float64
 6   promotion_last_5years  14999 non-null  float64
 7   dept                   14999 non-null  object
 8   salary                 14999 non-null  object
dtypes: float64(7), object(2)
memory usage: 1.1+ MB

# Feature Engineering

From the Data Given above, we want to enhance information extraction by Creating a Categorical Features `eligibility` that concern what is the correspondence between the salary given and the resulting `satisfaction_level`