# Associate Rule Mining

# Related Data Recommendation

In [1]:
A = [['Milk', 'Onion', 'Chhole', 'Rajma', 'Ghee', 'Dahi'],
     ['Dill', 'Onion', 'Chhole', 'Rajma', 'Ghee', 'Dahi'],
     ['Milk', 'Apple', 'Rajma', 'Ghee'],
     ['Milk', 'Mutter', 'Corn', 'Rajma', 'Dahi'],
     ['Corn', 'Onion', 'Onion', 'Rajma', 'Ice cream', 'Ghee']]

# Changing data into transation encoded format

In [2]:
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
import pandas as pd
A = pd.DataFrame(te.fit_transform(A),columns=te.columns_)

In [12]:
A

,Apple,Chhole,Corn,Dahi,Dill,Ghee,Ice cream,Milk,Mutter,Onion,Rajma
0,False,True,False,True,False,True,False,True,False,True,True
1,False,True,False,True,True,True,False,False,False,True,True
2,True,False,False,False,False,True,False,True,False,False,True
3,False,False,True,True,False,False,False,True,True,False,True
4,False,False,True,False,False,True,True,False,False,True,True

# Creating Function for Confidence and support

In [3]:
def confidence(A,x,y):
    num = A[(A[x] == True) & (A[y] == True)].shape[0]
    den = A[(A[x] == True)].shape[0]
    conf = num/den
    return conf

In [4]:
confidence(A,"Ghee","Onion")

0.75

In [5]:
def supp(df,i,j):
    num = A[(A[i] == True) & (A[j] == True)].shape[0]
    den = A.shape[0]
    sup = num/den
    return sup

In [11]:
# for i in A.columns:
#     for j in A.columns:
#         print(i,j,supp(A,i,j),confidence(A,i,j))

In [7]:
rule = []
support = []
conf = []
for i in A.columns:
    for j in A.columns:
        if(i != j):
            rule.append(i + " " + j)
            support.append(supp(A,i,j))
            conf.append(confidence(A,i,j))

In [8]:
T = pd.DataFrame([rule,support,conf]).T
T.columns = ["Rule","Supp","Conf"]

In [9]:
T.head()

           Rule Supp Conf
0  Apple Chhole    0    0
1    Apple Corn    0    0
2    Apple Dahi    0    0
3    Apple Dill    0    0
4    Apple Ghee  0.2    1

# Related data recommendation

In [10]:
T[(T.Supp > 0.4) & (T.Conf > 0.4)]

            Rule Supp  Conf
39    Dahi Rajma  0.6     1
58    Ghee Onion  0.6  0.75
59    Ghee Rajma  0.8     1
79    Milk Rajma  0.6     1
95    Onion Ghee  0.6     1
99   Onion Rajma  0.6     1
103   Rajma Dahi  0.6   0.6
105   Rajma Ghee  0.8   0.8
107   Rajma Milk  0.6   0.6
109  Rajma Onion  0.6   0.6